.cabecalho{
    background-color: darkgray;
    position: relative;
}

.lista{

}
.div1{
    background-color: rgb(241, 2, 2);
    border-left: 12px;

}
.div2{
    background-color: blue;
    border-left: 12px;

}
.div3{
    background-color: chartreuse;
    border-left: 12px;

}